{% extends 'base.html' %}
{% block title %}DTR BY EMPLOYEE{% endblock title %}
{% block heading %}{% for name in employee %}{{name.lastname|upper}}, {{name.firstname|upper}} {{name.middlename.0|upper|add:"."}}{% endfor %}<span style="font-size: 1.5rem; margin-left:1rem" class="purple lighten-5">{{total}} hours </span>{% endblock heading %}

{% block content %}
<div class="row">
    <div class="col left">
        <h5><b>{{year_month|date:"F Y"|upper}}</b></h5>
    </div>
    <div class="col right">
        {% for emp in employee %}
        {% comment %} <a style="margin-left: 1rem" href="{% url 'print_monthly' emp.id date %}" target="_blank" class="left btn waves-effect waves-light green accent-4"><i class="material-icons">print</i></a> {% endcomment %}
        <a class='dropdown-trigger btn waves-effect waves-light green accent-4' data-target='dropdown1'><i class="material-icons">print</i></a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="{% url 'print_first_half' emp.id date %}" target="_blank"><i class="material-icons">print</i>first half</a></li>
            <li><a href="{% url 'print_second_half' emp.id date %}" target="_blank"><i class="material-icons">print</i>second half</a></li>
            <li><a href="{% url 'print_monthly' emp.id date %}" target="_blank"><i class="material-icons">print</i>full month</a></li>
        </ul>
        {% endfor %}
    </div>
    <div class="col right" style="display: flex; align-items:center; justify-content:center; gap:1rem">
        <span><b>weekends</b></span>
        <span class="yellow lighten-4 z-depth-2" style="display: inline-block;width: 2rem; height: 2rem; border-radius: 5px"></span>
    </div>
    <div class="col right" style="display: flex; align-items:center; justify-content:center; gap:1rem">
        <span style=""><b>holiday</b></span>
        <span class="green lighten-4 z-depth-2" style="display: inline-block;width: 2rem; height: 2rem; border-radius: 5px"></span>
    </div>
    <div class="col right" style="display: flex; align-items:center; justify-content:center; gap:1rem">
        <span style=""><b>absent</b></span>
        <span class="grey lighten-2 z-depth-2" style="display: inline-block;width: 2rem; height: 2rem; border-radius: 5px"></span>
    </div>
</div>
<div class="row">
    <table class="highlight centered hoverable responsive-table">
        <thead>
            <tr>
                <th>DAY</th>
                <th>DATE</th>
                <th>IN<br>AM</th>
                <th>OUT<br>AM</th>
                <th>IN<br>PM</th>
                <th>OUT<br>PM</th>
                <th>REMARKS</th>
                <th>UNDERTIME</th>
                <th>OVERTIME</th>
                <th>MINUTES<br>WORKED</th>
                {% comment %} <th>ACTIONS</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for date, in_am, out_am, in_pm, out_pm, remarks, ut, ot, min, holiday, regular in logs %}
            {% if holiday is True %}
            <tr class="green lighten-4">
            {% elif date|date:"D" == "Sat" or date|date:"D" == "Sun" %}
            <tr class="yellow lighten-4">
            {% comment %} {% elif remarks == "P" %}
            <tr class="green lighten-4">
                {% elif remarks == "L" %}
            <tr class="yellow lighten-4"> {% endcomment %}
            {% elif regular and not remarks %}
            <tr class="grey lighten-3">
            {% else %}
            <tr>
            {% endif %}
                <td> {{date|date:"D"}} </td>
                <td> {{date|date:"SHORT_DATE_FORMAT"}} </td>
                <td> {% if in_am %}{{in_am|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {% if out_am %}{{out_am|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {% if in_pm %}{{in_pm|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {% if out_pm %}{{out_pm|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {% if remarks %}{{remarks}}{% elif regular and not remarks %}A{% endif %} </td>
                <td> {{ut}} </td>
                <td> {{ot}} </td>
                <td> {{min}} </td>
                {% comment %} <td> {% if remarks %}soon{% endif %} </td> {% endcomment %}
                {% comment %} <td> {{log.date|date:"D"}} </td> {% endcomment %}
                {% comment %} <td> {{log.date|date:"SHORT_DATE_FORMAT"}} </td> {% endcomment %}
                {% comment %} <td> {% if log.date|date:"j" == date|slugify %}hakdog {% else %}{{log.date|date:"j"}}{% endif %} </td>
                <td> {% if log.in_am %}{{log.in_am|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {% if log.out_am %}{{log.out_am|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {% if log.in_pm %}{{log.in_pm|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {% if log.out_pm %}{{log.out_pm|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {{log.remarks}} </td>
                <td> {% if min and ut %}{{ut}}{% else %}-{% endif %} </td>
                <td> {% if min and ot %}{{ot}}{% else %}-{% endif %} </td>
                <td> {% if min %}{{min}}{% else %}-{% endif %} </td> {% endcomment %}
                {% comment %} <td>eme</td> {% endcomment %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large pulse brown darken-4 waves-effect waves-light tooltipped-l" href="{% url 'dtr_by_employee' %}" data-position="left" data-tooltip="back">
      <i class="large material-icons">arrow_back</i>
    </a>
</div>
{% endblock content %}