{% extends 'base.html' %}
{% block title %}DTR BY EMPLOYEE{% endblock title %}
{% block heading %}{% for name in employee %}{{name.lastname|upper}}, {{name.firstname|upper}} {{name.middlename.0|upper|add:"."}}{% endfor %}<span style="font-size: 1.5rem; margin-left:1rem" class="green accent-1"> {{total}} hours </span>{% endblock heading %}

{% block content %}
<div class="row right">
    <div class="col" style="display: flex; align-items:center; justify-content:center; gap:1rem">
        <span><b>restday</b></span>
        <span class="yellow lighten-4 z-depth-2" style="display: inline-block;width: 2rem; height: 2rem; border-radius: 5px"></span>
    </div>
    <div class="col" style="display: flex; align-items:center; justify-content:center; gap:1rem">
        <span style=""><b>holiday</b></span>
        <span class="purple lighten-4 z-depth-2" style="display: inline-block;width: 2rem; height: 2rem; border-radius: 5px"></span>
    </div>
    <div class="col" style="display: flex; align-items:center; justify-content:center; gap:1rem">
        <span style=""><b>absent</b></span>
        <span class="grey lighten-2 z-depth-2" style="display: inline-block;width: 2rem; height: 2rem; border-radius: 5px"></span>
    </div>
</div>
<div class="row">
    <table class="highlight centered hoverable responsive-table">
        <thead>
            <tr>
                <th>DAY</th>
                <th>DATE</th>
                <th>IN<br>AM</th>
                <th>OUT<br>AM</th>
                <th>IN<br>PM</th>
                <th>OUT<br>PM</th>
                <th>REMARKS</th>
                <th>UNDERTIME</th>
                <th>OVERTIME</th>
                <th>MINUTES<br>WORKED</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            {% for date, in_am, out_am, in_pm, out_pm, remarks, ut, ot, min, holiday in logs %}
            {% if holiday is True %}
            <tr class="purple lighten-4">
            {% elif date|date:"D" == "Sun" %}
            <tr class="yellow lighten-4">
            {% comment %} {% elif remarks == "P" %}
            <tr class="green lighten-4">
                {% elif remarks == "L" %}
            <tr class="yellow lighten-4"> {% endcomment %}
            {% elif not remarks %}
            <tr class="grey lighten-3">
            {% else %}
            <tr>
            {% endif %}
                <td> {{date|date:"D"}} </td>
                <td> {{date|date:"SHORT_DATE_FORMAT"}} </td>
                <td> {% if in_am %}{{in_am|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {% if out_am %}{{out_am|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {% if in_pm %}{{in_pm|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {% if out_pm %}{{out_pm|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {{remarks}} </td>
                <td> {{ut}} </td>
                <td> {{ot}} </td>
                <td> {{min}} </td>
                <td> {% if remarks %}soon{% endif %} </td>
                {% comment %} <td> {{log.date|date:"D"}} </td> {% endcomment %}
                {% comment %} <td> {{log.date|date:"SHORT_DATE_FORMAT"}} </td> {% endcomment %}
                {% comment %} <td> {% if log.date|date:"j" == date|slugify %}hakdog {% else %}{{log.date|date:"j"}}{% endif %} </td>
                <td> {% if log.in_am %}{{log.in_am|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {% if log.out_am %}{{log.out_am|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {% if log.in_pm %}{{log.in_pm|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {% if log.out_pm %}{{log.out_pm|time:"g:i:s"}}{% else %}--:--:--{% endif %} </td>
                <td> {{log.remarks}} </td>
                <td> {% if min and ut %}{{ut}}{% else %}-{% endif %} </td>
                <td> {% if min and ot %}{{ot}}{% else %}-{% endif %} </td>
                <td> {% if min %}{{min}}{% else %}-{% endif %} </td> {% endcomment %}
                {% comment %} <td>eme</td> {% endcomment %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large pulse purple accent-2 waves-effect waves-light tooltipped-l" href="{% url 'dtr_by_employee' %}" data-position="left" data-tooltip="back">
      <i class="large material-icons">arrow_back</i>
    </a>
</div>
{% endblock content %}