{% extends 'base.html' %}
{% block title %}DTR BY EMPLOYEE{% endblock title %}
{% block heading %}DTR BY EMPLOYEE{% endblock heading %}

{% block content %}
<div class="row">
    <table class="highlight centered hoverable responsive-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>DAYS<br>WORKED</th>
                <th>ABSENTS</th>
                <th>LATE</th>
                <th>UNDERTIME</th>
                <th>OVERTIME</th>
                <th>DETAILS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}