{% extends 'base.html' %}
{% block title %}DTR BY EMPLOYEE{% endblock title %}
{% block heading %}DTR BY EMPLOYEE{% endblock heading %}

{% block content %}
<div class="row">
    <table class="highlight centered hoverable responsive-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>DAYS<br>WORKED</th>
                <th>LATES</th>
                <th>ABSENCES</th>
                <th>UNDERTIME</th>
                <th>OVERTIME</th>
                <th>DETAILS</th>
            </tr>
        </thead>
        <tbody>
            {% for employee, days, absents, lates, ut, ot in employees %}
            <tr>
                <td> {{employee.id|cut:"400392-"}} </td>
                <td> {{employee.lastname}}, {{employee.firstname}} {{employee.middlename.0|add:"."}} </td>
                <td> {{days}} </td>
                <td> {{lates}} </td>
                <td> {{absents}} </td>
                <td> {{ut}} </td>
                <td> {{ot}} </td>
                <td><a href="{% url 'dtr_specific_employee' employee.id %}"><i class="material-icons">list</i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}