{% extends 'base.html' %}
{% load static %}

{% block title %}Attendance{% endblock title %}
{% block heading %}Attendance{% endblock heading %}

{% block content %}
<div class="row">
    <div class="col s12 center">
        <a style="margin-bottom:1rem" href="{% url 'in_am' %}" target = "_blank" class="waves-effect waves-light btn-large"><i class="material-icons left">center_focus_strong</i>AM IN</a>
        <a style="margin-bottom:1rem" href="{% url 'out_am' %}" class="waves-effect waves-light btn-large"><i class="material-icons left">center_focus_strong</i>AM OUT</a>
        <a style="margin-bottom:1rem" href="{% url 'in_pm' %}" class="waves-effect waves-light btn-large"><i class="material-icons left">center_focus_strong</i>PM IN</a>
        <a style="margin-bottom:1rem" href="{% url 'out_pm' %}" class="waves-effect waves-light btn-large"><i class="material-icons left">center_focus_strong</i>PM OUT</a>
        <a style="margin-bottom:1rem" href="{% url 'monitor' %}" target = "_blank" class="waves-effect waves-light btn-large"><i class="material-icons left">dvr</i>LOGS</a>
    </div>
</div>
{% endblock content %}