<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Designation</title>
</head>
<body>
    <h1>DESIGNATION PAGE</h1>
    <a href="{% url 'home' %}">Dashboard</a>
    <a href="{% url 'create_desig' %}">Create Designation</a>

    <br>
    <br>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for designation in designations %}
            <tr>
                <td>{{designation.id}}</td>
                <td>{{designation.name}}</td>
                <td>
                    <a href="{% url 'update_desig' designation.id %}">update</a>
                    <a href="{% url 'delete_desig' designation.id %}">delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>