{% extends 'base-homepage.html' %}
{% load static %}

{% block title %}Attendance{% endblock title %}
{% block heading %}Attendance{% endblock heading %}

{% block content %}
<div class="row">
    <div class="col l6">
        {% comment %} <div>
            <blockquote>
                <span><b>Attendance threshold: <span style="text-decoration: underline; color: red">30 MINUTES</span></b></span>
            </blockquote>
        </div> {% endcomment %}
        <div class="row" id="cam-preloader" style="margin-top: 25vh">
            <div class="col s6">
                <p class="center-align" style="font-size: 1.5rem">Initializing Camera . . .</p>
            </div>
            <div class="col s6">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
              
                    <div class="spinner-layer spinner-red">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
              
                    <div class="spinner-layer spinner-yellow">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
              
                    <div class="spinner-layer spinner-green">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row" id="video" style="display: none; pointer-events:none;user-drag:none;user-select:none">
            <div class="col s12" style="display: flex; align-items: center; justify-content: center; margin-top: -1rem">
                <img src="{% url 'test' %}" alt="" width="610">
            </div>
        </div>
    </div>
    <div class="col l6">
        {% if not employee %}
        <blockquote>
            <span><b>No registered employees yet.</b></span>
        </blockquote>
        {% endif %}
        {% if not sched %}
        <blockquote>
            <span><b>No active schedule yet.</b></span>
        </blockquote>
        {% endif %}
        <div hx-get="{% url 'home' %}" hx-trigger="every 3s" hx-swap="innerHTML" style="pointer-events:none;user-drag:none;user-select:none">
        {% include 'employees/attendance.html' %}
        </div>
    </div>
</div>
<script>
    setTimeout(video, 8000)
    function video() {
        document.getElementById('cam-preloader').style.display = 'none'
        document.getElementById('video').style.display = 'block'
    }
</script>
{% endblock content %}