{% extends 'base-homepage.html' %}
{% load static %}

{% block title %}Attendance{% endblock title %}
{% block heading %}Attendance{% endblock heading %}

{% block content %}
<div class="">
    <blockquote>
        <span><b>Note: ID is permanent and can not be changed in the future.</b></span>
    </blockquote>
</div>
<div class="">
    <blockquote>
        <span><b>Note: ID is permanent and can not be changed in the future.</b></span>
    </blockquote>
</div>
<img src="{% url 'test' %}" alt="" width="800">
{% endblock content %}