<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>DASHBOARD</h1>

    <a href="{% url 'attendance' %}">Attendance</a>
    <a href="{% url 'schedule' %}">Schedule</a>
    <a href="{% url 'employee' %}">Employee</a>
    <a href="{% url 'department' %}">Department</a>
    <a href="{% url 'designation' %}">Designation</a>
    <a href="{% url 'holiday' %}">Holiday</a>
    
</body>
</html>