<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <meta http-equiv="refresh" content="3"> {% endcomment %}
    <title>Monitor</title>
</head>
<body>
    <h1>EMPLOYEE LOGS TODAY</h1>
    <a href="{% url 'home' %}">Dashboard</a>
    <a href="{% url 'attendance' %}">Attendance</a>

    <br>
    <br>

    <h2>IN</h2>

    <div style="display: flex; gap: 1rem;">
        {% for inside in insides%}
        <div>
            <img src="{{inside.reference.id_picture.url}}" onerror="this.onerror=null; this.src='{% static 'unregistered/default.png' %}'" alt="" width="120">
            <p style="text-align: center;">{{inside.employee_id}}</p>
        </div>
        {% endfor %}
    </div>

    <h2>OUT</h2>

    <div style="display: flex; gap: 1rem;">
        {% for outside in outsides%}
        <div>
            <img src="{{outside.reference.id_picture.url}}" onerror="this.onerror=null; this.src='{% static 'unregistered/default.png' %}'" alt="" width="120">
            <p style="text-align: center;">{{outside.employee_id}}</p>
        </div>
        {% endfor %}
    </div>

    {% comment %} <table style='text-align:center'>
        <thead>
            <tr>
                <th>IMG</th>
                <th>ID</th>
                <th>EmployeeID</th>
                <th>IN AM</th>
                <th>OUT AM</th>
                <th>IN PM</th>
                <th>OUT PM</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>
                    {% if log.reference.id_picture.url %}
                    <img src="{{log.reference.id_picture.url}}" alt="" width="40">
                    {% else %}
                    <img src="{% static 'default.png' %}" alt="" width="40">
                    {% endif %}
                </td>
                <td>{{log.id}}</td>
                <td>{{log.employee_id}}</td>

                {% if not log.in_am %}
                <td>~</td>
                {% else %}
                <td>{{log.in_am|time:"h:i:s A"}}</td>
                {% endif %}

                {% if not log.out_am %}
                <td>~</td>
                {% else %}
                <td>{{log.out_am|time:"h:i:s A"}}</td>
                {% endif %}
                
                {% if not log.in_pm %}
                <td>~</td>
                {% else %}
                <td>{{log.in_pm|time:"h:i:s A"}}</td>
                {% endif %}
                
                {% if not log.out_pm %}
                <td>~</td>
                {% else %}
                <td>{{log.out_pm|time:"h:i:s A"}}</td>
                {% endif %}

                <td> {{log.date|date:"Y-m-d"}} </td>
                
                <td>
                    <a href="#">soon</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> {% endcomment %}
</body>
</html>