{% load static %}
{% block navbar %}
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper purple">
      <ul class="left">
        <li><img style="margin-left: 1rem;" src="{% static 'utilities/icon.png' %}" alt=""></li>
        <li><a href="{% url 'dashboard' %}" style="font-size: 2rem">AMSFR</a></li>
      </ul>
      <ul style="position: absolute; top: 0; left: 50%; transform: translateX(-50%)">
        <li id="clock" onload="currentTime()" style="font-size: 2rem"></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        {% if request.user.is_authenticated %}
        <li><a href="#!"> {{request.user}} </a></li>
        <li><a href="#logout-modal" class="waves-effect waves-light btn modal-trigger purple accent-2 tooltipped-l" data-position="left" data-tooltip="logout" alt="logout"><span class="material-icons">logout</span></a></li>
        {% else %}
        {% comment %} <li><a href="#">Anonymous</a></li> {% endcomment %}
        <li><a href="{% url 'login' %}" class="waves-effect waves-light btn modal-trigger purple accent-2 tooltipped-l" data-position="left" data-tooltip="login" alt="login"><span class="material-icons">login</span></a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
{% endblock navbar %}