{% block nav %}
<div class="navibar hide-on-med-and-down">
    <ul>
        <li><a href="{% url 'home' %}" class="nav-link f waves-effect waves-light">
            <i class="fas fa-solid fa-clock"></i>
            <span class="nav-item">Attendance</span>
        </a></li>
        <li><a href="{% url 'employee' %}" class="nav-link waves-effect waves-light">
            <i class="fas fa-solid fa-users"></i>
            <span class="nav-item">Employees</span>
        </a></li>
        {% comment %} <li><a href="{% url 'department' %}" class="nav-link waves-effect waves-light">
            <i class="fas fa-solid fa-building"></i>
            <span class="nav-item">Departments</span>
        </a></li> {% endcomment %}
        <li><a href="{% url 'position' %}" class="nav-link waves-effect waves-light">
            <i class="fas fa-solid fa-briefcase"></i>
            <span class="nav-item">Positions</span>
        </a></li>
        <li><a href="{% url 'schedule' %}" class="nav-link waves-effect waves-light">
            <i class="fas fa-solid fa-gear"></i>
            <span class="nav-item">Settings</span>
        </a></li>
    </ul>
</div>
{% endblock nav %}