
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DTR REPORT</title>
  <style>
    @page {
      size: A4 portrait;
      @frame header_frame {
        -pdf-frame-content: header_content;
        
        margin-top: 0.4cm;
        margin-left: 0.4cm;
        margin-right: 0.4cm;
        
      }
      @frame content_frame {
        
        top: 85pt;
        margin: 1.5cm;
      }
      @frame footer_frame {
        -pdf-frame-content: footer_content;
        
        top: 760pt; height: 70pt;
        margin-left: 1.5cm;
        margin-right: 1.5cm;
      }
    }
    h1, .month{
      text-align: center;
    }
    .month {
      font-size: 2rem;
      margin-bottom: -3rem
    }
    td, th {
      padding-top: 3px;
      
      text-align: center;
      vertical-align: middle;
    }
    table {
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <header>
    <div id="header_content">
      <span> 01/31/2023 6:10 AM </span>
      <div>
        <div style="text-align:center;margin-top:-10px;margin-bottom:10px">
          <img src="utilities/sfa-logo.png" alt="" width="80px">
        </div>
        <div>
          <h1 style="margin-top: -10px">ST. FRANCIS ACADEMY OF STA. TERESITA, INCORPORATED<br>
            <span style="font-weight: light">VILLA, STA. TERESITA, CAGAYAN</span></h1>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div> 
      <table style="border:none;font-size: 1.3rem;padding-top:5rem">
        
          <tr>
            <td>
              <b>ID: 400392-23-003</b>
            </td>
            <td>
              <b>NAME: JOE ASHLEE H. ANTONIO</b>
            </td>
            <td>
              <b>POSITION: ADMIN</b>
            </td>
            
          </tr>
        
      </table>
    </div>
    <div>
      <h1 class="month"> JANUARY 2023 </h1>
    </div>
    <table>
      <thead>
          <tr>
            <th rowspan="2">DAYS</th>
            
            <th colspan="2">MORNING</th>
            <th colspan="2">AFTERNOON</th>
            <th rowspan="2">REMARKS</th>
            <th rowspan="2">UNDERTIME<br>min.</th>
            <th rowspan="2">OVERTIME<br>min.</th>
            <th rowspan="2">MINUTES<br>WORKED</th>
            
          </tr>
          <tr>
            <th>IN</th>
            <th>OUT</th>
            <th>IN</th>
            <th>OUT</th>
          </tr>
      </thead>
      <tbody>
        
        
        <tr style="background-color: #CEFF9F">
        
          <td> 1 </td>
          
          <td> 7:15:00 </td>
          <td> 11:45:00 </td>
          <td> 1:45:00 </td>
          <td> 4:12:00 </td>
          <td> P</td>
          <td> 63 </td>
          <td>  </td>
          <td> 417 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 2 </td>
          
          <td> 7:16:00 </td>
          <td> 11:45:00 </td>
          <td> 1:20:00 </td>
          <td> 4:10:00 </td>
          <td> L</td>
          <td> 41 </td>
          <td>  </td>
          <td> 439 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 3 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 4 </td>
          
          <td> 7:00:00 </td>
          <td> 11:30:00 </td>
          <td> 1:20:00 </td>
          <td> 4:50:00 </td>
          <td> L</td>
          <td>  </td>
          <td>  </td>
          <td> 480 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 5 </td>
          
          <td> 7:02:00 </td>
          <td> 11:32:00 </td>
          <td> 1:24:00 </td>
          <td> 3:57:00 </td>
          <td> L</td>
          <td> 57 </td>
          <td>  </td>
          <td> 423 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 6 </td>
          
          <td> 6:37:00 </td>
          <td> 11:34:00 </td>
          <td> 1:21:00 </td>
          <td> 5:57:00 </td>
          <td> P</td>
          <td>  </td>
          <td> 93 </td>
          <td> 573 </td>
          
          
        </tr>
        
        
        <tr style="background-color: #FFFEB0">
        
          <td> 7 </td>
          
          <td> 7:45:00 </td>
          <td> 11:11:00 </td>
          <td> 1:12:00 </td>
          <td> 5:23:00 </td>
          <td> L</td>
          <td> 23 </td>
          <td>  </td>
          <td> 457 </td>
          
          
        </tr>
        
        
        <tr style="background-color: #FFFEB0">
        
          <td> 8 </td>
          
          <td> 7:45:00 </td>
          <td> 11:44:00 </td>
          <td> 1:22:00 </td>
          <td> 5:11:00 </td>
          <td> P</td>
          <td> 12 </td>
          <td>  </td>
          <td> 468 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 9 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 10 </td>
          
          <td> 7:09:00 </td>
          <td> 11:33:00 </td>
          <td> 1:12:00 </td>
          <td> 4:11:00 </td>
          <td> P</td>
          <td> 37 </td>
          <td>  </td>
          <td> 443 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 11 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 12 </td>
          
          <td> 7:14:00 </td>
          <td> 11:56:00 </td>
          <td> 1:41:00 </td>
          <td> 4:23:00 </td>
          <td> P</td>
          <td> 36 </td>
          <td>  </td>
          <td> 444 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 13 </td>
          
          <td> 7:34:00 </td>
          <td> 11:32:00 </td>
          <td> 1:15:00 </td>
          <td> 4:52:00 </td>
          <td> L</td>
          <td> 25 </td>
          <td>  </td>
          <td> 455 </td>
          
          
        </tr>
        
        
        <tr style="background-color: #FFFEB0">
        
          <td> 14 </td>
          
          <td> 7:11:00 </td>
          <td> 11:23:00 </td>
          <td> 1:43:00 </td>
          <td> 4:52:00 </td>
          <td> L</td>
          <td> 39 </td>
          <td>  </td>
          <td> 441 </td>
          
          
        </tr>
        
        
        <tr style="background-color: #FFFEB0">
        
          <td> 15 </td>
          
          <td> 6:49:00 </td>
          <td> 11:00:00 </td>
          <td> 1:45:00 </td>
          <td> 4:30:00 </td>
          <td> P</td>
          <td> 64 </td>
          <td>  </td>
          <td> 416 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 16 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 17 </td>
          
          <td> 7:16:00 </td>
          <td> 11:45:00 </td>
          <td> 1:20:00 </td>
          <td> 4:50:00 </td>
          <td> P</td>
          <td> 1 </td>
          <td>  </td>
          <td> 479 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 18 </td>
          
          <td> 7:30:00 </td>
          <td> 11:40:00 </td>
          <td> 1:10:00 </td>
          <td> 4:30:00 </td>
          <td> L</td>
          <td> 30 </td>
          <td>  </td>
          <td> 450 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 19 </td>
          
          <td> 7:00:00 </td>
          <td> 11:30:00 </td>
          <td> 1:20:00 </td>
          <td> 4:50:00 </td>
          <td> L</td>
          <td>  </td>
          <td>  </td>
          <td> 480 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 20 </td>
          
          <td> 7:55:00 </td>
          <td> 11:12:00 </td>
          <td> 1:15:00 </td>
          <td> 4:56:00 </td>
          <td> L</td>
          <td> 62 </td>
          <td>  </td>
          <td> 418 </td>
          
          
        </tr>
        
        
        <tr style="background-color: #FFFEB0">
        
          <td> 21 </td>
          
          <td> 7:37:00 </td>
          <td> 11:34:00 </td>
          <td> 1:56:00 </td>
          <td> 5:57:00 </td>
          <td> L</td>
          <td> 2 </td>
          <td>  </td>
          <td> 478 </td>
          
          
        </tr>
        
        
        <tr style="background-color: #CEFF9F">
        
          <td> 22 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 23 </td>
          
          <td> 7:11:00 </td>
          <td> 11:44:00 </td>
          <td> 1:15:00 </td>
          <td> 5:59:00 </td>
          <td> L</td>
          <td>  </td>
          <td> 77 </td>
          <td> 557 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 24 </td>
          
          <td> 7:16:00 </td>
          <td> 11:42:00 </td>
          <td> 1:55:00 </td>
          <td> 4:34:00 </td>
          <td> P</td>
          <td> 55 </td>
          <td>  </td>
          <td> 425 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 25 </td>
          
          <td> 7:09:00 </td>
          <td> 11:33:00 </td>
          <td> 1:12:00 </td>
          <td> 4:11:00 </td>
          <td> P</td>
          <td> 37 </td>
          <td>  </td>
          <td> 443 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 26 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 27 </td>
          
          <td> 7:45:00 </td>
          <td> 11:22:00 </td>
          <td> 1:43:00 </td>
          <td> 4:22:00 </td>
          <td> L</td>
          <td> 104 </td>
          <td>  </td>
          <td> 376 </td>
          
          
        </tr>
        
        
        <tr style="background-color: #FFFEB0">
        
          <td> 28 </td>
          
          <td> 7:11:00 </td>
          <td> 11:23:00 </td>
          <td> 1:43:00 </td>
          <td> 4:52:00 </td>
          <td> P</td>
          <td> 39 </td>
          <td>  </td>
          <td> 441 </td>
          
          
        </tr>
        
        
        <tr style="background-color: #FFFEB0">
        
          <td> 29 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 30 </td>
          
          <td> 6:49:00 </td>
          <td> 11:00:00 </td>
          <td> 1:45:00 </td>
          <td> 4:30:00 </td>
          <td> P</td>
          <td> 64 </td>
          <td>  </td>
          <td> 416 </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 31 </td>
          
          <td> 7:23:00 </td>
          <td> 11:12:00 </td>
          <td> 1:11:00 </td>
          <td> 4:32:00 </td>
          <td> L</td>
          <td> 50 </td>
          <td>  </td>
          <td> 430 </td>
          
          
        </tr>
        
      </tbody>
    </table>
  <div style="text-align: center">
    <p style="font-size: 12px"><b> DAYS WORKED: 24 &nbsp;&nbsp;&nbsp;&nbsp; LATES: 13 &nbsp;&nbsp;&nbsp;&nbsp; ABSENCES: 0 &nbsp;&nbsp;&nbsp;&nbsp; UNDERTIME: 20 &nbsp;&nbsp;&nbsp;&nbsp; OVERTIME: 2 &nbsp;&nbsp;&nbsp;&nbsp; TOTAL HOURS: 180.82 </b></p>
  </div>
  <div id="footer_content">
    <table style="border:none; font-size: 12px;">
      <thead>
        <tr>
          <td style="text-align: left">CONFORME:</td>
          <td style="text-align: left">ATTESTED:</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: left;margin-left: 73px;padding-top: 12px;"> <b>JOE ASHLEE H. ANTONIO<br>ADMIN</b> </td>
          
          <td style="text-align: left;margin-left: 67px;padding-top: 12px;"><b> JOE ASHLEE H. ANTONIO<br>ADMIN  </b></td>
        </tr>
      </tbody>
    </table>
    
  </div>
  </main>
</body>
</html>