
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DTR REPORT</title>
  <style>
    @page {
      size: A4 portrait;
      @frame header_frame {
        -pdf-frame-content: header_content;
        
        margin-top: 0.4cm;
        margin-left: 0.4cm;
        margin-right: 0.4cm;
        
      }
      @frame content_frame {
        
        top: 85pt;
        margin: 1.5cm;
      }
      @frame footer_frame {
        -pdf-frame-content: footer_content;
        
        top: 760pt; height: 70pt;
        margin-left: 1.5cm;
        margin-right: 1.5cm;
      }
    }
    h1, .month{
      text-align: center;
    }
    .month {
      font-size: 2rem;
      margin-bottom: -3rem
    }
    td, th {
      padding-top: 3px;
      
      text-align: center;
      vertical-align: middle;
    }
    table {
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <header>
    <div id="header_content">
      <span> 02/17/2023 11:03 AM </span>
      <div>
        <div style="text-align:center;margin-top:-10px;margin-bottom:10px">
          <img src="utilities/sfa-logo.png" alt="" width="80px">
        </div>
        <div>
          <h1 style="margin-top: -10px">ST. FRANCIS ACADEMY OF STA. TERESITA, INCORPORATED<br>
            <span style="font-weight: light">VILLA, STA. TERESITA, CAGAYAN</span></h1>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div> 
      <table style="border:none;font-size: 1.3rem;padding-top:5rem">
        
          <tr>
            <td>
              <b>ID: 400392-23-001</b>
            </td>
            <td>
              <b>NAME: VAL MELBIN C. CABITAC</b>
            </td>
            <td>
              <b>POSITION: eme</b>
            </td>
            
          </tr>
        
      </table>
    </div>
    <div>
      <h1 class="month"> FEBRUARY 2023 </h1>
    </div>
    <table>
      <thead>
          <tr>
            <th rowspan="2">DAYS</th>
            
            <th colspan="2">MORNING</th>
            <th colspan="2">AFTERNOON</th>
            <th rowspan="2">REMARKS</th>
            <th rowspan="2">UNDERTIME<br>min.</th>
            <th rowspan="2">OVERTIME<br>min.</th>
            <th rowspan="2">MINUTES<br>WORKED</th>
            
          </tr>
          <tr>
            <th>IN</th>
            <th>OUT</th>
            <th>IN</th>
            <th>OUT</th>
          </tr>
      </thead>
      <tbody>
        
        
        <tr>
        
          <td> 1 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 2 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 3 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr style="background-color: #FFFEB0">
        
          <td> 4 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr style="background-color: #FFFEB0">
        
          <td> 5 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 6 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 7 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 8 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 9 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 10 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr style="background-color: #FFFEB0">
        
          <td> 11 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr style="background-color: #FFFEB0">
        
          <td> 12 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 13 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 14 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
        
        <tr>
        
          <td> 15 </td>
          
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> --:--:-- </td>
          <td> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          
          
        </tr>
        
      </tbody>
    </table>
  <div style="text-align: center">
    <p style="font-size: 12px"><b> DAYS WORKED: 0 &nbsp;&nbsp;&nbsp;&nbsp; LATES: 0 &nbsp;&nbsp;&nbsp;&nbsp; ABSENCES: 0 &nbsp;&nbsp;&nbsp;&nbsp; UNDERTIME: 0 &nbsp;&nbsp;&nbsp;&nbsp; OVERTIME: 0 &nbsp;&nbsp;&nbsp;&nbsp; TOTAL HOURS: 0.0 </b></p>
  </div>
  <div id="footer_content">
    <table style="border:none; font-size: 12px;">
      <thead>
        <tr>
          <td style="text-align: left">CONFORME:</td>
          <td style="text-align: left">ATTESTED:</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: left;margin-left: 73px;padding-top: 12px;"> <b>VAL MELBIN C. CABITAC<br>eme</b> </td>
          
          <td style="text-align: left;margin-left: 67px;padding-top: 12px;"><b> GLENN V. CONTRERAS<br>eme  </b></td>
        </tr>
      </tbody>
    </table>
    
  </div>
  </main>
</body>
</html>