{% extends 'base.html' %}
{% load static %}
{% block title %}Register Employee{% endblock title %}
{% block heading %}Register Employee{% endblock heading %}

{% block content %}
<div class="container">
    <div class="row">
        <form class="col s12" onsubmit="validateForm()" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="">
                <blockquote>
                    <span><b>Note: ID is permanent and can not be changed in the future.</b></span>
                </blockquote>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    {{form.id.label_tag}}
                    {{form.id}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    {{form.lastname.errors}}
                    {{form.lastname.label_tag}}
                    {{form.lastname}}
                </div>
                <div class="input-field col s4">
                    {{form.firstname.errors}}
                    {{form.firstname.label_tag}}
                    {{form.firstname}}
                </div>
                <div class="input-field col s4">
                    {{form.middlename.errors}}
                    {{form.middlename.label_tag}}
                    {{form.middlename}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    {{form.birth_date.errors}}
                    {{form.birth_date.label_tag}}
                    {{form.birth_date}}
                </div>
                <div class="input-field col s4">
                    {{form.position.errors}}
                    <label style="position:absolute; top: -28px;" for={{form.position.id_for_label}}>{{form.position.label}}:</label>
                    {{form.position}}
                </div>
                <div class="input-field col s4">
                    {{form.designation.errors}}
                    <label style="position:absolute; top: -28px;" for={{form.designation.id_for_label}}>{{form.designation.label}}:</label>
                    {{form.designation}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    {{form.barangay.errors}}
                    {{form.barangay.label_tag}}
                    {{form.barangay}}
                </div>
                <div class="input-field col s4">
                    {{form.municipality.errors}}
                    {{form.municipality.label_tag}}
                    {{form.municipality}}
                </div>
                <div class="input-field col s4">
                    {{form.province.errors}}
                    {{form.province.label_tag}}
                    {{form.province}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    {{form.mobile_number.errors}}
                    {{form.mobile_number.label_tag}}
                    {{form.mobile_number}}
                </div>
            </div>
            <div class="">
                <blockquote>
                    <span><b>Note: Image must be clear and in 1 : 1 ratio [square].</b></span>
                </blockquote>
            </div>
            <div class="row">
                <div class="file-field input-field col s8">
                    {{form.id_picture.errors}}
                    <div class="btn purple accent-3">
                        <span>{{form.id_picture.label}}</span>
                        {{form.id_picture}}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" required>
                    </div>
                </div>
                <div class="input-field col s4">
                    {{form.date_employed.errors}}
                    {{form.date_employed.label_tag}}
                    {{form.date_employed}}
                </div>
            </div>
            <div class="">
                <blockquote>
                    <span><b>Note: If licensed teacher, kindly fill out the form below. Otherwise, leave it blank.</b></span>
                </blockquote>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    {{form.license_no.errors}}
                    {{form.license_no.label_tag}}
                    {{form.license_no}}
                </div>
                <div class="input-field col s4">
                    {{form.registration_date.errors}}
                    {{form.registration_date.label_tag}}
                    {{form.registration_date}}
                </div>
                <div class="input-field col s4">
                    {{form.expiration_date.errors}}
                    {{form.expiration_date.label_tag}}
                    {{form.expiration_date}}
                </div>
            </div>
            <div class="row">
                <button class="right btn waves-effect waves-light green accent-4" type="submit" name="action">Register</button>
                <a href="{% url 'employee' %}" class="right btn waves-effect waves-light purple accent-3" style="margin-right: .5rem">Back</a>
            </div>
        </form>
    </div>
</div>
<div id="progressBarr" class="progress purple lighten-3" style="display:none">
    <div class="indeterminate purple accent-3"></div>
</div>
<script>
    const inputs = document.querySelectorAll('input');
    const datepkr = document.getElementById('id_birth_date');
    const datemp = document.getElementById('id_date_employed');
    const datereg = document.getElementById('id_registration_date');
    const dateexp = document.getElementById('id_expiration_date');
    const id = document.getElementById('id_id');
    let date = new Date();
    let yyyy = date.getFullYear().toString().slice(2);
    
    for (const input of inputs) {
        input.classList.add('validate')
    }
    id.minLength = 13
    id.setAttribute('value', `400392-${yyyy}-{{id_num}}`)
    datepkr.classList.add('datepicker')
    datemp.classList.add('datepicker')
    datereg.classList.add('datepicker')
    dateexp.classList.add('datepicker')

    document.getElementById('id_lastname').focus()
</script>
{% endblock content %}