{% extends 'base.html' %}
{% load static %}
{% block title %}Update Employee{% endblock title %}
{% block heading %}Update Employee{% endblock heading %}

{% block content %}
<div class="container">
    <div class="row">
        <form class="col s12" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s4">
                    {{form.id.label_tag}}
                    {{form.id}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    {{form.lastname.errors}}
                    {{form.lastname.label_tag}}
                    {{form.lastname}}
                </div>
                <div class="input-field col s4">
                    {{form.firstname.errors}}
                    {{form.firstname.label_tag}}
                    {{form.firstname}}
                </div>
                <div class="input-field col s4">
                    {{form.middlename.errors}}
                    {{form.middlename.label_tag}}
                    {{form.middlename}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    {{form.birth_date.errors}}
                    {{form.birth_date.label_tag}}
                    {{form.birth_date}}
                </div>
                <div class="input-field col s4">
                    {{form.mobile_number.errors}}
                    {{form.mobile_number.label_tag}}
                    {{form.mobile_number}}
                </div>
                <div class="input-field col s4">
                    {{form.position.errors}}
                    {{form.position.label_tag}}
                    {{form.position}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    {{form.barangay.errors}}
                    {{form.barangay.label_tag}}
                    {{form.barangay}}
                </div>
                <div class="input-field col s4">
                    {{form.municipality.errors}}
                    {{form.municipality.label_tag}}
                    {{form.municipality}}
                </div>
                <div class="input-field col s4">
                    {{form.province.errors}}
                    {{form.province.label_tag}}
                    {{form.province}}
                </div>
            </div>
            <div class="row">
                {% comment %} <div class="file-field input-field col s8">
                    {{form.id_picture.errors}}
                    <div class="btn purple accent-3">
                        <span>{{form.id_picture.label}}</span>
                        {{form.id_picture}}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" required>
                    </div>
                </div> {% endcomment %}
                <div class="input-field col s4">
                    {{form.date_employed.errors}}
                    {{form.date_employed.label_tag}}
                    {{form.date_employed}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    {{form.license_no.errors}}
                    {{form.license_no.label_tag}}
                    {{form.license_no}}
                </div>
                <div class="input-field col s4">
                    {{form.registration_date.errors}}
                    {{form.registration_date.label_tag}}
                    {{form.registration_date}}
                </div>
                <div class="input-field col s4">
                    {{form.expiration_date.errors}}
                    {{form.expiration_date.label_tag}}
                    {{form.expiration_date}}
                </div>
            </div>
            <div class="row">
                <a href="{% url 'update_photo' employee_id %}" class="left btn waves-effect waves-light light-blue accent-3" style="margin-right: .5rem">Update Image</a>
                <button class="right btn waves-effect waves-light green accent-4" type="submit" name="action">Update</button>
                <a href="{% url 'employee' %}" class="right btn waves-effect waves-light purple accent-3" style="margin-right: .5rem">Back</a>
            </div>
        </form>
    </div>
</div>
<script>
    const id = document.getElementById('{{form.id.id_for_label}}')
    const datepkr = document.getElementById('id_birth_date');
    const datemp = document.getElementById('id_date_employed');
    const inputs = document.querySelectorAll('input');

    id.setAttribute('readonly', '')
    id.removeAttribute('required')
    datepkr.classList.add('datepicker')
    datemp.classList.add('datepicker')

    for (const input of inputs) {
        input.classList.add('validate')
    }
    id.classList.remove('validate')
</script>
{% endblock content %}