{% extends 'base.html' %}
{% load static %}
{% block title %}Employee Details{% endblock title %}
{% block heading %}{{emp_id}}{% endblock heading %}
{% block content %}

{% for employee in emp_details %}
    <div class="row">
        
        <div class="col s12 center">
            <img style="border: 3px solid" class="circle hoverable" src="{{employee.id_picture.url}}" alt="" width="200">
        </div>
        
    </div>

    <div class="row">
        <div class="col s12 m6 l6">
            <div class="row">
                <div class="col s12 m12 l12">
                    <ul class="collapsible popout">
                        <li class="active">
                            <div class="collapsible-header" style="font-size:1.5rem"><b>Personal Information</b></div>
                            <div class="collapsible-body">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="right"><b>Name: </b></td>
                                            <td> {{employee.firstname}} {{employee.middlename}}  {{employee.lastname}} </td>
                                        </tr>
                                        <tr>
                                            <td class="right"><b>Birth Date: </b></td>
                                            <td> {{employee.birth_date}} </td>
                                        </tr>
                                        <tr>
                                            <td class="right"><b>Mobile No.: </b></td>
                                            <td> {{employee.mobile_number}} </td>
                                        </tr>
                                        <tr>
                                            <td class="right"><b>Address: </b></td>
                                            <td> {{employee.barangay}}, {{employee.municipality}}, {{employee.province}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="row">
                <div class="col s12 m12 l12">
                    <ul class="collapsible popout">
                        <li class="active">
                            <div class="collapsible-header" style="font-size:1.5rem;"><b>Employee Information</b></div>
                            <div class="collapsible-body">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="right"><b>Employee ID: </b></td>
                                            <td> {{employee.id}} </td>
                                        </tr>
                                        <tr>
                                            <td class="right"><b>Picture ID: </b></td>
                                            {% comment %} <td> {{employee.id_picture|cut:"registered/400392-"|cut:".jpg"}} </td> {% endcomment %}
                                            <td> <a href="{{employee.id_picture.url}}" target="_blank"> {{employee.id_picture|cut:"registered/"}} </a></td>
                                        </tr>
                                        {% comment %} <tr>
                                            <td class="right"><b>Department: </b></td>
                                            <td> {{employee.department}} </td>
                                        </tr> {% endcomment %}
                                        <tr>
                                            <td class="right"><b>Position: </b></td>
                                            <td> {{employee.position}} </td>
                                        </tr>
                                        <tr>
                                            <td class="right"><b>Date Employed: </b></td>
                                            <td> {{employee.date_employed}} </td>
                                        </tr>
                                        {% comment %} <tr>
                                            <td class="right"><b>Date Registered: </b></td>
                                            <td> {{employee.created|date:"m-d-Y"}} </td>
                                        </tr> {% endcomment %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="row">
                <div class="col s12 m12 l12">
                    <ul class="collapsible popout">
                        <li>
                            <div class="collapsible-header" style="font-size:1.5rem;"><b>License Information</b></div>
                            <div class="collapsible-body">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="right"><b>License No.: </b></td>
                                            <td> {% if employee.license_no is Null %} None {% else %} {{employee.license_no}} {% endif %} </td>
                                        </tr>
                                        <tr>
                                            <td class="right"><b>Registration Date: </b></td>
                                            <td> {% if employee.registration_date is Null %} None {% else %} {{employee.registration_date}} {% endif %} </td>
                                        </tr>
                                        <tr>
                                            <td class="right"><b>Expiration Date: </b></td>
                                            <td> {% if employee.expiration_date is Null %} None {% else %} {{employee.expiration_date}} {% endif %} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="row">
                <div class="col s12 m12 l12">
                    <ul class="collapsible popout">
                        <li>
                            <div class="collapsible-header" style="font-size:1.5rem;"><b>Employee Logs</b></div>
                            <div class="collapsible-body">
                                {% comment %} <table>
                                    <tbody>
                                        <tr>
                                            <td class="right"><b>Date of Birth: </b></td>
                                            <td> {% if employee.birth_date is Null %} None {% else %} {{employee.birth_date|date:"m-d-Y"}} {% endif %} </td>
                                        </tr>
                                        <tr>
                                            <td class="right"><b>Gender: </b></td>
                                            <td> {% if employee.gender == 'F' %} Female {% elif employee.gender == 'M' %} Male {% else %} None {% endif %} </td>
                                        </tr>
                                        <tr>
                                            <td class="right"><b>Mobile Number: </b></td>
                                            <td> {{employee.mobile_number}} </td>
                                        </tr>
                                        <tr>
                                            <td class="right"><b>Barangay: </b></td>
                                            <td> {{employee.barangay}} </td>
                                        </tr>
                                        <tr>
                                            <td class="right"><b>Municipality: </b></td>
                                            <td> {{employee.municipality}} </td>
                                        </tr>
                                        <tr>
                                            <td class="right"><b>Province: </b></td>
                                            <td> {{employee.province}} </td>
                                        </tr>
                                    </tbody>
                                </table> {% endcomment %}
                                <p class="center">
                                    under construction
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="pulse btn-floating btn-large purple accent-2 waves-effect waves-light tooltipped-l" href="{% url 'employee' %}" data-position="left" data-tooltip="back">
          <i class="large material-icons">arrow_back</i>
        </a>
        <ul>
          <li><a class="btn-floating red tooltipped-l" data-position="left" data-tooltip="delete" href="{% url 'delete_emp' employee.id %}"><i class="material-icons">delete</i></a></li>
          <li><a class="btn-floating amber accent-4 tooltipped-l" data-position="left" data-tooltip="edit" href="{% url 'update_emp' employee.id %}"><i class="material-icons">edit</i></a></li>
          <li><a class="btn-floating blue tooltipped-l" data-position="left" data-tooltip="update photo" href="{% url 'update_photo' employee.id %}"><i class="material-icons">add_photo_alternate</i></a></li>
        </ul> 
    </div>
{% endfor %}
{% endblock content %}