{% extends 'base.html' %}
{% load static %}
{% block title %}Delete Designation{% endblock title %}
{% block heading %}Delete Designation{% endblock heading %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col s12 center">
            <h5>Are you sure you want to delete designation <b style="text-transform:uppercase">{{designation}}?</b></h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <a href="{% url 'designation' %}" class="btn waves-effect waves-light purple accent-3" style="margin-right: .5rem">Back</a>
            <button class="btn waves-effect waves-light red" type="submit" name="action">Delete</button>
        </div>
    </div>
</form>
{% endblock content %}