{% extends 'base.html' %}
{% load static %}

{% block title %}Designation{% endblock title %}
{% block heading %}Designation{% endblock heading %}
    
{% block content %}
<div class="row">
    <table class="highlight centered hoverable responsive-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        </tbody>
            {% for designation in designations %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{designation.name}}</td>
                <td>
                    <a href="{% url 'update_desig' designation.id %}" class="btn-floating waves-effect waves-light amber accent-4 tooltipped-b" data-position="left" data-tooltip="edit" alt="edit"><i class="material-icons">edit</i></a>
                    <a href="{% url 'delete_desig' designation.id %}" class="btn-floating waves-effect waves-light red tooltipped-r" data-position="right" data-tooltip="delete" alt="delete"><i class="material-icons">delete</i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large pulse purple accent-2 waves-effect waves-light tooltipped-l" href="{% url 'create_desig' %}" data-position="left" data-tooltip="create">
      <i class="large material-icons">add</i>
    </a>
</div>
{% endblock content %}